{% extends 'base.html.twig' %}
{% block navbar %}
    {% include "inc/navbar.html.twig" %}
{% endblock %}
{% block title %}
	Les sorties
{% endblock %}
{% block header %}
	{% include "inc/header.html.twig" %}
{% endblock %}
{% block content %}
    {{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-primary" type="submit">Enregistrer</button>
	{% if sortie.etat.id == 1 %}
		<a href="{{ path("sortie_publish", {"id": sortie.id }) }}" class="btn btn-info">Publier la sortie</a>
	{% endif %}
	<a href="{{ path("sortie_cancel", {"id": sortie.id }) }}" class="btn btn-danger">Annuler la sortie</a>
	{{ form_end(form) }}
{% endblock %}