{% extends 'base.html.twig' %}

{% block navbar %}
    {% include "inc/navbar.html.twig" %}
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% if error is defined %}
                <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if user.getId() is not defined %}
                <div class="alert alert-danger" role="alert">Cet utilisateur n'existe pas</div>
            {% else %}
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title mb-4">
                                <div class="d-flex justify-content-start">
                                    <div class="image-container">
                                        {% if user.getAvatar() is not empty %}
                                            <img src="{{ asset('uploads/small/'~user.getAvatar()) }}" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" alt="Avatar" />
                                        {% else %}
                                            <img src="{{ asset('uploads/small/5fa2d6e53ef58.png') }}" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" alt="Avatar"/>
                                        {% endif %}
                                    </div>
                                    <div class="userData ml-3">
                                        <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">{{ user.getPrenom() }} {{ user.getNom()|upper }}</a></h2>
                                        <h6 class="d-block"><a href="javascript:void(0)">0</a> sorties organisées</h6>
                                        <h6 class="d-block"><a href="javascript:void(0)">0</a> sorties participées</h6>
                                        <hr />
                                        {% if user.getId() == app.user.id %}
                                            <a class="btn btn-primary" href="{{ path('user_profile_edit') }}">Modifier mon profil</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Informations</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content ml-1" id="myTabContent">
                                        <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">


                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Nom</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{ user.getPrenom() }} {{ user.getNom()|upper }}
                                                </div>
                                            </div>
                                            <hr />

                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Adresse e-mail</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{ user.getMail() }}
                                                </div>
                                            </div>
                                            <hr />


                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Téléphone</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{ user.getTelephone() }}
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Campus</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{ user.getCampus().getNom() }}
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {#
    {% if error is defined %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if user.getId() is not defined %}
        <div class="alert alert-danger" role="alert">Cet utilisateur n'existe pas</div>
    {% else %}
        <h2 class="text-xl mb-4">Profil de {{ user.getPrenom() }} {{ user.getNom()|upper }}</h2>
        <div class="flex">
            <div class="mr-6 profile-picture">
                {% if user.getAvatar() is not empty %}
                    <img src="{{ asset('uploads/small/'~user.getAvatar()) }}" alt="Avatar">
                {% else %}
                    <img src="{{ asset('uploads/small/5fa2d6e53ef58.png') }}" alt="Avatar">
                {% endif %}
            </div>
            <div>
                <div>{{ user.getPrenom() }} </div>
                <div>{{ user.getNom() }} </div>
                <div>{{ user.getMail() }}</div>
                <div>{{ user.getTelephone() }}</div>
                <div>{{ user.getCampus().getNom() }}</div>
            </div>


        </div>
    {% endif %}#}
{% endblock %}