{% extends 'base.html.twig' %}

{% block navbar %}
    {% include "inc/navbar.html.twig" %}
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    {% if error is defined %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if user.getId() is not defined %}
        <div class="alert alert-danger" role="alert">Cet utilisateur n'existe pas</div>
    {% else %}
        <h2 class="text-xl mb-4">Profil de {{ user.getPrenom() }} {{ user.getNom()|upper }}</h2>
        <div class="flex">
            <div class="mr-6 profile-picture">
                {% if user.getAvatar() is not empty %}
                    <img src="{{ asset('uploads/small/'~user.getAvatar()) }}" alt="Avatar">
                {% else %}
                    <img src="{{ asset('uploads/small/5fa2d6e53ef58.png') }}" alt="Avatar">
                {% endif %}
            </div>
            <div>
                <div>{{ user.getPrenom() }} </div>
                <div>{{ user.getNom() }} </div>
                <div>{{ user.getMail() }}</div>
                <div>{{ user.getTelephone() }}</div>
                <div>{{ user.getCampus().getNom() }}</div>
            </div>

            {% if user.getId() == app.user.id %}
                <a href="{{ path('user_profile_edit') }}">Modifier mon profil</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}